<html lang="pl">
    <head>
               
                <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#2bd283" />
        
       
        <title>  DAJSONEKK </title>
                        
        
    <link rel="stylesheet" href="https://dxokx05hbd6dq.cloudfront.net/build/user.32934e51.css">
<html lang="pl">
    <head>
                    <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N3RK3CR');</script>
            <!-- End Google Tag Manager -->
                <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#2bd283" />
        
        <link rel="icon" type="image/png" href="https://dxokx05hbd6dq.cloudfront.net/images/favicon.png" />

        <title>Tipply |  DAJSON </title>
                        
        
    <link rel="stylesheet" href="https://dxokx05hbd6dq.cloudfront.net/build/user.32934e51.css">
    </head>

    <body class="tip_send">
                    <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3RK3CR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
                        
            <div class="user-background user-background--purple"></div>

    <header class="navbar js-navbar navbar--full">
    <div class="navbar__container navbar__container--full">
        <a href="https://tipply.pl/">
            <svg class="navbar__logo navbar__logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3196 1132"><path d="M65.645 151.471v168.674H243.9V830h212.761V320.145h180.175V151.471H65.645zm594.19-9.584q0 45.058 33.544 74.753 33.535 29.716 89.128 29.71 54.628 0 88.171-29.71 33.535-29.694 33.543-74.753 0-46-33.543-76.191-33.558-30.189-88.171-30.189-55.593 0-89.128 30.189-33.558 30.189-33.544 76.191zm15.335 147.59V830h212.758V289.477H675.169zm650.731-6.709q-52.725 0-90.57 21.563-37.875 21.564-57.98 58.94v-73.794H964.589v799.283h212.761V756.205q20.13 37.377 57.98 58.94t90.57 21.564q63.255 0 114.04-33.064t80.03-95.838q29.22-62.759 29.23-148.069 0-85.287-29.23-148.069-29.25-62.759-80.03-95.837-50.805-33.065-114.04-33.064zm-70.92 185.925q34.5 0 56.54 23.959t22.04 67.086q0 43.128-22.04 67.087t-56.54 23.959q-34.5 0-56.55-23.959t-22.04-67.087q0-43.127 22.04-67.086 22.035-23.944 56.55-23.959zm703.44-185.925q-52.725 0-90.57 21.563-37.875 21.564-57.98 58.94v-73.794H1597.11v799.283h212.76V756.205q20.13 37.377 57.98 58.94t90.57 21.564q63.255 0 114.04-33.064t80.03-95.838q29.22-62.759 29.23-148.069 0-85.287-29.23-148.069-29.25-62.759-80.03-95.837-50.805-33.065-114.04-33.064zM1887.5 468.693q34.5 0 56.54 23.959t22.04 67.086q0 43.128-22.04 67.087t-56.54 23.959q-34.5 0-56.55-23.959t-22.04-67.087q0-43.127 22.04-67.086 22.035-23.944 56.55-23.959zM2229.63 120.8V830h212.76V120.8h-212.76zm231.92 168.675l225.22 513.689-136.09 285.596h232.88l345.98-799.283h-234.81l-94.88 274.1-101.58-274.1h-236.72z" fill="#0e0e0e" fill-rule="evenodd"/><ellipse cx="782" cy="143" rx="126" ry="109" fill="#2bd283"/></svg>
        </a>

        <button class="navbar__toggle-menu hamburger hamburger--slider js-hamburger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="navbar__menu js-menu">
                            <a href="https://app.tipply.pl" class="navbar__btn navbar__btn--last btn btn--green btn--small">Panel użytkownika</a>
                    </div>
    </div>
</header>
    <div class="user-container user-container--large">
        <div class="tip-form">
    <div class="tip-form__banner" style="background-image:url(/upload/media/user/0009/43/thumb_842492_user_banner.png);"></div>
    <div class="tip-form__avatar" style="background-image:url(/upload/media/user/0009/43/thumb_842493_user_avatar.png);">
            </div>

    <div class="tip-form__user-info">
        <p class="tip-form__user-info-username">DAJSON</p>
        <p class="tip-form__user-info-description">
            
        </p>
    </div>
        
    <div class="tip-form__pagination js-pagination">
        <button class="tip-form__pagination-item"></button>
        <button class="tip-form__pagination-item"></button>
    </div>

    <form name="tip_form" method="post" novalidate="novalidate" class="js-tip-form" data-validate-url="https://tipply.pl/@DAJSON/validate-form" data-audio-upload-url="https://tipply.pl/@DAJSON/audio">
    <div class="tip-form__steps js-steps">
        <div>
            <div class="tip-form__step tip-form__step--slim js-step">
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_nickname">Wpisz swój nick</label>
                    <input type="text" id="tip_form_nickname" name="tip_form[nickname]" required="required" maxlength="32"  class="text-input" value="Dajsonek" />
                    
                </div>
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_email">Twój adres email</label>
                    <div class="p-relative">
                        <input type="email" id="tip_form_email" name="tip_form[email]" required="required" class="text-input" value="Piomajer68@gmail.com" />
                        <button type="button" class="tip-form__info js-tippy" data-tippy-content="Wymagamy Twojego maila, aby po sfinalizowanej transakcji wysłać tam potwierdzenie! E-mail wpisany w tej rubryce, jest również w pełni przekazywany do wglądu Streamerowi i dostępny do użycia np. w przypadku reklamacji.">
                            <svg class="tip-form__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.357 31.357"><path d="M15.255 0c5.424 0 10.764 2.498 10.764 8.473 0 5.51-6.314 7.629-7.67 9.62-1.018 1.481-.678 3.562-3.475 3.562-1.822 0-2.712-1.482-2.712-2.838 0-5.046 7.414-6.188 7.414-10.343 0-2.287-1.522-3.643-4.066-3.643-5.424 0-3.306 5.592-7.414 5.592-1.483 0-2.756-.89-2.756-2.584C5.339 3.683 10.084 0 15.255 0zm-.211 24.406a3.492 3.492 0 0 1 3.475 3.476 3.49 3.49 0 0 1-3.475 3.476 3.49 3.49 0 0 1-3.476-3.476 3.491 3.491 0 0 1 3.476-3.476z"/></svg>
                        </button>
                    </div>
                    
                </div>
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_message">Twoja wiadomość</label>
                    <div class="p-relative">
                        <textarea id="tip_form_message" name="tip_form[message]" required="required" maxlength="225" placeholder="Wpisz wiadomość" class="textarea js-message-input"></textarea>
                                                    <button id="icon-picker-trigger" type="button"></button>
                                                <span class="tip-form__words-counter js-message-words-counter">225</span>
                    </div>
                    
                </div>
                <div class="input-wrapper">
                                        <input type="hidden" id="tip_form_goalId" name="tip_form[goalId]" value="7825a26b-7b23-4d35-b244-c3cd94643ea2" />
                </div>
                            </div>
        </div>
        <div>
            <div class="tip-form__step js-step">
                <div class="input-wrapper tip-form__amount">
                    <div class="p-relative" style="font-size:0;">
                        <input type="text" id="tip_form_amount" name="tip_form[amount]" required="required" placeholder="Kwota minimum 1,00 zł" class="text-input js-amount-input" /> zł
                        <p class="tip-form__total-amount js-tip-total-amount"></p>
                        <p class="tip-form__total-amount"><button class="tip-form__euro-badge euro-badge animation-pulse-green-infinite is-hidden"><b>€ EUR</b></button></p>
                        <script class="js-script-commisions">window.tipply_commissions = {"cashbill":{"percent":0.97,"fixed":20},"cashbill_blik":{"percent":0.97,"fixed":20},"cashbill_credit_card":{"percent":0.97,"fixed":20},"gt_psc":{"percent":1,"fixed":0},"justpay":{"percent":0.57,"fixed":0},"justpay_classic":{"percent":0.51,"fixed":0},"justpay_full":{"percent":0.245,"fixed":0},"paypal":{"percent":1,"fixed":0},"psc":{"percent":0.8,"fixed":30}}</script>

                        <button type="button" class="tip-form__info js-tippy" data-tippy-content="Taką kwotę minimalną ustawił streamer. Może ona ulec zmianie, w momencie nagrania wiadomości głosowej. Wpisana kwota może być niedopuszczalna przy metodzie SMS, która posiada z góry ustalone kwoty.">
                            <svg class="tip-form__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.357 31.357"><path d="M15.255 0c5.424 0 10.764 2.498 10.764 8.473 0 5.51-6.314 7.629-7.67 9.62-1.018 1.481-.678 3.562-3.475 3.562-1.822 0-2.712-1.482-2.712-2.838 0-5.046 7.414-6.188 7.414-10.343 0-2.287-1.522-3.643-4.066-3.643-5.424 0-3.306 5.592-7.414 5.592-1.483 0-2.756-.89-2.756-2.584C5.339 3.683 10.084 0 15.255 0zm-.211 24.406a3.492 3.492 0 0 1 3.475 3.476 3.49 3.49 0 0 1-3.475 3.476 3.49 3.49 0 0 1-3.476-3.476 3.491 3.491 0 0 1 3.476-3.476z"/></svg>
                        </button>
                    </div>
                    
                </div>
                <hr class="tip-form__separator" />
                <div class="input-wrapper">
                    <p class="payments__title">Wybierz metodę płatności</p>
                                <div class="payments">
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_0"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay_full"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_0">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS FULL
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_1"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_1">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS Plus
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_2"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay_classic"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_2">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_3"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="paypal"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_3">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            PayPal
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_4"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_4">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            Przelew
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_5"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill_blik"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_5">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            BLIK
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block checkbox-button--disabled">
                <input
                    id="tip_form_method_6"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill_credit_card"                                         disabled="disabled"                    style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_6">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            Karty płatnicze
                        </span>
                                                                <span class="disabled-method-label">
                                                            By zapłacić kartą, użyj metody PayPal
                                                    </span>
                                    </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_7"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="psc"                                                            style="display: none;"
                />

                <label class="checkbox-button__button animation-pulse-green-infinite" for="tip_form_method_7">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__logo">
                            <svg fill="currentColor" height="16" viewBox="0 0 97 16" width="97" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="a">
        <path d="m0 0h97v16h-97z" />
    </clipPath>
    <g clip-path="url(#a)" fill="currentColor">
        <path d="m17.7595 4.52974h-3.2359c-1.0535 0-1.8813.80365-1.8813 1.82648v9.64388h2.1071v-3.1416h2.7843c1.1288 0 2.0318-.8767 2.0318-1.9726v-4.52968c.0753-1.02283-.7525-1.82648-1.806-1.82648zm-.2258 5.69866c0 .2922-.2257.5114-.5267.5114h-1.5803c-.301 0-.5268-.2192-.5268-.5114v-3.06853c0-.29223.2258-.51141.5268-.51141h1.5803c.301 0 .5267.21918.5267.51141zm9.0303-5.69866h-5.1172v2.11872h4.3647c.2257 0 .3762.14612.3762.36529v.29224h-3.0853c-.9783 0-1.8061.80365-1.8061 1.75343v2.11868c0 .9498.8278 1.7535 1.8061 1.7535h3.4616c.9783 0 1.806-.8037 1.806-1.7535v-4.89494c-.0752-.94977-.8277-1.75342-1.806-1.75342zm-.3763 5.18721v.65755c0 .2192-.2257.4383-.4515.4383h-1.806c-.2258 0-.4516-.2191-.4516-.4383v-.65755c0-.21918.2258-.43836.4516-.43836h1.806c.2258-.07305.4515.14612.4515.43836zm25.5857-5.18721h-5.1171v2.11872h4.3646c.2258 0 .3763.14612.3763.36529v.29224h-3.0854c-.9782 0-1.806.80365-1.806 1.75343v2.11868c0 .9498.8278 1.7535 1.806 1.7535h3.4616c.9783 0 1.8061-.8037 1.8061-1.7535v-4.89494c0-.94977-.8278-1.75342-1.8061-1.75342zm-.301 5.18721v.65755c0 .2192-.2257.4383-.4515.4383h-1.806c-.2258 0-.4515-.2191-.4515-.4383v-.65755c0-.21918.2257-.43836.4515-.43836h1.806c.2258-.07305.4515.14612.4515.43836zm-6.3964-5.18721v2.11872h-3.9884c-.2257 0-.3762.14612-.3762.36529v.29224c0 .21918.1505.3653.3762.3653h2.1824c1.0535 0 1.8813.80365 1.8813 1.82648v1.38813c0 1.0959-.9031 1.9726-2.0319 1.9726h-4.4398v-2.1187h3.9131c.2257 0 .3762-.1461.3762-.3653v-.2923c0-.21913-.1505-.36525-.3762-.36525h-1.9566c-1.1288 0-2.0318-.87671-2.0318-1.9726v-1.38813c0-1.02283.8278-1.82648 1.8813-1.82648zm22.0489 3.72602v-1.9726c0-.94977-.8278-1.75342-1.8061-1.75342h-3.3111c-1.0535 0-1.8813.80365-1.8813 1.82648v4.67578c0 1.0229.8278 1.8265 1.8813 1.8265h5.0419v-2.1187h-4.3646c-.2258 0-.3763-.1461-.3763-.3653v-.3653zm-4.8162-.21917v-1.02284c0-.21917.1505-.36529.3763-.36529h1.9566c.2257 0 .3762.14612.3762.36529zm-25.3599 5.91781v-9.42466h-2.1071v5.69866c0 .2922-.2257.5844-.602.5844h-1.5803c-.301 0-.602-.2191-.602-.5844v-5.69866h-2.1071v6.28306c0 1.0229.7525 2.0457 2.1071 2.0457h2.7091v.4384c0 .5114-.3763.5844-.7526.5844h-4.0636v2.1188h4.7409c1.3545 0 2.2576-.9498 2.2576-2.0457zm21.9736-10.52055v-2.04567h-1.5803c-1.1288 0-2.1071.87672-2.1071 2.04567v9.49775h2.1071v-6.3562h1.505v-2.04566h-1.505v-.51142c0-.3653.301-.58447.602-.58447zm15.5772 1.9726v-.87671h-3.2359c-1.0535 0-1.9565.87671-1.9565 1.89954v4.60272c0 1.0229.903 1.8996 1.9565 1.8996h3.2359v-.8767h-3.1606c-.602 0-1.1288-.5115-1.1288-1.0959v-4.45666c0-.58448.5268-1.09589 1.1288-1.09589zm14.0721-.87671h-.8277c-1.0536 0-1.5803.65753-1.5803 1.53424v6.79452h.903v-6.57534c0-.51141.1505-.94977.8278-.94977h.6772zm-11.7393 0v.87671h4.8161c.5268 0 .9031.3653.9031.87671v1.02283h-3.8379c-1.0535 0-1.9566.87671-1.9566 1.89955v1.75346c0 1.0228.9031 1.8995 1.9566 1.8995h2.7843c1.0536 0 1.9566-.8767 1.9566-1.8995v-4.67584c0-.94977-.8278-1.75342-1.8061-1.75342zm4.6656 7.45206h-2.709c-.6021 0-1.1288-.5114-1.1288-1.0959v-1.68036c0-.58448.5267-1.09589 1.1288-1.09589h3.7626v2.84935c0 .5844-.4515 1.0228-1.0536 1.0228zm14.5989-10.59362v3.14156h-3.7626c-1.0535 0-1.9565.87671-1.9565 1.89954v4.60272c0 1.0229.903 1.8996 1.9565 1.8996h2.7091c1.0536 0 1.9566-.8767 1.9566-1.8996v-9.64382zm-1.0535 10.59362h-2.5585c-.6021 0-1.1288-.5114-1.1288-1.0959v-4.38356c0-.58448.5267-1.09589 1.1288-1.09589h3.6873v5.55255c-.0752.5844-.5268 1.0228-1.1288 1.0228z" />
        <path d="m7.22421 12.8586h-5.34291c-1.053527 0-1.8813-.8037-1.8813-1.8265v-4.67583c0-1.02283.827773-1.82648 1.8813-1.82648h5.34291c1.05352 0 1.8813.80365 1.8813 1.82648v4.67583c0 1.0228-.82778 1.8265-1.8813 1.8265z" />
        <path d="m1.4298 4.01826c.22576-1.38812 1.58029-2.48401 3.16059-2.48401 1.58029 0 2.93483 1.09589 3.16059 2.48401.45151.07306.90302.29224 1.27928.65754v-.43836c-.07525-2.3379-2.0318-4.23744-4.43987-4.23744s-4.439877 1.89954-4.439877 4.23744v.43836c.37626-.29224.752521-.58448 1.279287-.65754z" />
    </g>
</svg>
                        </span>
                                                        </label>
            </div>
            
                    </div>
    
                    <script class="js-script-min-amounts">
                        window.tipply_minimum_amounts = {"cashbill":100,"cashbill_blik":100,"cashbill_credit_card":100,"gt_psc":100,"justpay":100,"justpay_classic":100,"justpay_full":100,"paypal":100,"psc":150};
                        window.voice_message_min_amount = 1000;
                        window.external_provider = '';
                        window.external_profile_url = '';
                        window.external_username = '';
                    </script>
                    <div class="forcedEnablePsc" id="notConnected"></div>
                </div>

                                    <div class="voice-recorder js-voice-recorder">
                        <div class="js-voice-supported">
                            <div class="voice-recorder__progress js-progress" style="width:0%;"></div>
                            <div class="voice-recorder__row">
                                <div class="voice-recorder__controls">
                                    <button title="Rozpocznij nagrywanie" type="button" class="voice-recorder__control js-record" disabled>
                                        <span class="voice-recorder__icon voice-recorder__icon-record"></span>
                                    </button>
                                    <button title="Zakończ nagrywanie" type="button" class="voice-recorder__control js-stop" disabled>
                                        <span class="voice-recorder__icon voice-recorder__icon-stop"></span>
                                    </button>
                                    <button title="Odtwórz nagranie" type="button" class="voice-recorder__control js-toggle-play-pause" disabled>
                                        <svg class="voice-recorder__icon voice-recorder__icon-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232.153 232.153"><path d="M203.791 99.628L49.307 2.294C44.74-.425 39.069.028 34.786.028 17.654.028 17.73 13.255 17.73 16.606v198.94c0 2.833-.075 16.579 17.056 16.579 4.283 0 9.955.451 14.521-2.267l154.483-97.333c12.68-7.545 10.489-16.449 10.489-16.449s2.192-8.904-10.488-16.448z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                        <span class="voice-recorder__icon voice-recorder__icon-pause"></span>
                                        <span class="voice-recorder__icon voice-recorder__icon-pause"></span>
                                    </button>
                                </div>
                                <p class="voice-recorder__text">Nagraj swoją wiadomość głosową</p>
                            </div>
                            <div class="voice-recorder__row">
                                <p class="voice-recorder__price-info">Możliwość nagrania wiadomości głosowej od 10,00 zł</p>
                            </div>
                            <audio class="voice-recorder__player js-voice-player" src=""></audio>
                        </div>

                        <p style="display:none;" class="voice-recorder__not-supported js-voice-not-supported">Nagrywanie wiadomości głosowej jest niedostępne ponieważ nie wykryto żadnego urządzania nagrywającego dźwięk.</p>
                    </div>
                
                <div class="checkbox-group" style="margin-top: 40px; font-size: 14px;">
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_selectAll" name="tip_form[selectAll]" class="checkbox__input checkbox-group__select-all" style="display: none" value="1" />
            <label for="tip_form_selectAll" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Zaznacz wszystkie zgody
                        </span>
    </label>

    </div>
    
    

                    </div>
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_privacy" name="tip_form[privacy]" style="display: none" class="checkbox__input" value="1" />
            <label for="tip_form_privacy" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Akceptuję <a href="/@DAJSON/regulamin" target="_blank">Regulamin udostępnienia komunikatu tekstowego podczas internetowej transmisji wideo</a>.
                        </span>
    </label>

    </div>
    
    

                    </div>
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_voidTerms" name="tip_form[voidTerms]" style="display: none" class="checkbox__input" value="1" />
            <label for="tip_form_voidTerms" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Wyrażam zgodę na natychmiastowe rozpoczęcie świadczenia i rozumiem, że jeśli umowa
                    zostanie w pełni wykonana to nie przysługuje mi prawo do odstąpienia od umowy zawartej na
                    odległość.
                        </span>
    </label>

    </div>
    
    

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tip-form__footer">
        <div class="tip-form__navigation js-navigation is-active">
            <button class="btn btn--green tip-from__navigation-item js-next-button" type="button">Dalej</button>
            <button class="btn btn--blank tip-from__navigation-item js-prev-button" style="display: none;" type="button">Wstecz</button>
        </div>
        <button type="submit" id="tip_form_submit" name="tip_form[submit]" class="btn btn--green tip-form__submit is-hidden js-submit">Przechodzę do płatności</button>
    </div>

    <div class="sms-payment js-sms-payment is-hidden">
        <div class="sms-payment__content">
            <header class="sms-payment__header">
                <p class="sms-payment__header-text">Płatność <strong class="js-sms-method">SMS</strong></p>
            </header>
            <div class="sms-payment__body">
                <div class="sms-payment__body-row">
                    <p class="sms-payment__text sms-payment__text--big js-sms-step-text" data-step="1">
                        Wybierz kwotę<br />
                        <strong>która Cię interesuje!</strong>
                    </p>

                    <p class="sms-payment__text sms-payment__text--small js-sms-step-text" data-step="1">
                        Nie możesz znaleźć odpowiedniej kwoty?<br />
                        Skorzystaj z metody płatności <span>SMS PLUS</span> lub <span>SMS FULL</span>
                    </p>

                    <div>
                        <p class="sms-payment__text sms-payment__text--big">
                            Koszt <strong><span class="js-sms-price-selected">0</span> PLN</strong>
                            <span class="smaller">(<span class="js-sms-price-selected-with-vat">0</span> PLN z VAT)</span>
                        </p>
                        <a class="sms-payment__terms" href="#">Regulamin usługi</a>
                    </div>
                </div>
                <div class="sms-payment__body-row">
                    <div class="sms-payment__table">
                        <div class="js-sms-payments-steps">
                            <div>
                                <div class="sms-payment__sms-prices">
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="3">3 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="4">4 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="5">5 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="6">6 zł</button>

                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="7">7 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="8">8 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="9">9 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="10">10 zł</button>

                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="11">11 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="14">14 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="19">19 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="25">25 zł</button>
                                </div>

                                <button type="submit" class="btn btn--uppercase btn--shadow sms-payment__action-btn js-sms-submit">Wyślij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sms-payment__footer">
                <button type="button" class="btn btn--blue sms-payment__reset js-reset-payment-method">Zmień metodę płatności</button>
            </footer>
        </div>
    </div>
    <input type="hidden" id="tip_form_audioId" name="tip_form[audioId]" /><input type="hidden" id="tip_form__token" name="tip_form[_token]" value="pZ12okPC8a5p_EMQYhEQoeU7LTzdXbYcN-jib1aI-VQ" /></form>

    <div class="external-tip-info-page is-hidden">
        <div class="external-tip-info-page__content">
            <div class="external-tip-info-page__header">Kontynuacja<br/>płatności</div>
            <div class="external-tip-info-page__body">
                <p class="external-tip-info-page__text">Jako iż płatność jest inicjowana przez zewnętrzny serwis, po przejściu do płatności będziesz musiał wpisać ponownie swój nickname oraz wiadomość, którą chcesz wysłać streamerowi.</p>
                <p class="external-tip-info-page__text">Skopiuj wiadomość aby móc łatwiej uzupełnić pola w następnym kroku, a następnie rozpocznij płatność.</p>
                <div class="external-tip-info-page__fieldbox">
                    <div class="external-tip-info-page__label">NICKNAME</div>
                    <div class="external-tip-info-page__nickname-box">
                        <div class="external-tip-info-page__nickname-text" name="nick"></div>
                        <div class="external-tip-info-page__nickname-button"><button id="copy-nickname" type="button" class="btn--copy">SKOPIUJ</button></div>
                    </div>
                </div>
                <div class="external-tip-info-page__fieldbox">
                    <div class="external-tip-info-page__label">WIADOMOŚĆ</div>
                    <div class="external-tip-info-page__message-box">
                        <div class="external-tip-info-page__message-text" name="message"></div>
                        <div class="right-wrapper"><button id="copy-message" type="button" class="btn--copy">SKOPIUJ</button></div>
                    </div>
                </div>
                <div class="center-wrapper">
                    <button id="start-stream-elements" type="button" class="btn btn--payment">ROZPOCZNIJ PŁATNOŚĆ</button>
                </div>
                <div class="center-wrapper">
                    <p id="external-tip-info-cancel" class="external-tip-info-page__text">ANULUJ</p>
                </div>

            </div>
        </div>
    </div>

            <div id="icon-picker-container" data-twitch-username="zairox"></div>
    </div>

    <div class="ad ">
    <div class="ad__header">Reklama</div>
                </div>
    </div>

                <!-- Start of LiveChat (www.livechat.com) code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 15525981;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechat.com/chat-with/15525981/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->

                        <script src="https://dxokx05hbd6dq.cloudfront.net/build/runtime.83d9dd1c.js"></script><script src="https://dxokx05hbd6dq.cloudfront.net/build/app.753d48bc.js"></script>
            <script src="https://dxokx05hbd6dq.cloudfront.net/build/ads.cfb282cc.js"></script>
        
    <script src="https://dxokx05hbd6dq.cloudfront.net/build/user.b7718d09.js"></script>
    <script src="https://dxokx05hbd6dq.cloudfront.net/build/tip.fd73163d.js"></script>
    </body>
</html>

    </head>

    <body class="tip_send">
                    <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3RK3CR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
                        
           

<!-- 
    <header class="navbar js-navbar navbar--full">
    <div class="navbar__container navbar__container--full">
        <a href="https://tipply.pl/">
            <svg class="navbar__logo navbar__logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3196 1132"><path d="M65.645 151.471v168.674H243.9V830h212.761V320.145h180.175V151.471H65.645zm594.19-9.584q0 45.058 33.544 74.753 33.535 29.716 89.128 29.71 54.628 0 88.171-29.71 33.535-29.694 33.543-74.753 0-46-33.543-76.191-33.558-30.189-88.171-30.189-55.593 0-89.128 30.189-33.558 30.189-33.544 76.191zm15.335 147.59V830h212.758V289.477H675.169zm650.731-6.709q-52.725 0-90.57 21.563-37.875 21.564-57.98 58.94v-73.794H964.589v799.283h212.761V756.205q20.13 37.377 57.98 58.94t90.57 21.564q63.255 0 114.04-33.064t80.03-95.838q29.22-62.759 29.23-148.069 0-85.287-29.23-148.069-29.25-62.759-80.03-95.837-50.805-33.065-114.04-33.064zm-70.92 185.925q34.5 0 56.54 23.959t22.04 67.086q0 43.128-22.04 67.087t-56.54 23.959q-34.5 0-56.55-23.959t-22.04-67.087q0-43.127 22.04-67.086 22.035-23.944 56.55-23.959zm703.44-185.925q-52.725 0-90.57 21.563-37.875 21.564-57.98 58.94v-73.794H1597.11v799.283h212.76V756.205q20.13 37.377 57.98 58.94t90.57 21.564q63.255 0 114.04-33.064t80.03-95.838q29.22-62.759 29.23-148.069 0-85.287-29.23-148.069-29.25-62.759-80.03-95.837-50.805-33.065-114.04-33.064zM1887.5 468.693q34.5 0 56.54 23.959t22.04 67.086q0 43.128-22.04 67.087t-56.54 23.959q-34.5 0-56.55-23.959t-22.04-67.087q0-43.127 22.04-67.086 22.035-23.944 56.55-23.959zM2229.63 120.8V830h212.76V120.8h-212.76zm231.92 168.675l225.22 513.689-136.09 285.596h232.88l345.98-799.283h-234.81l-94.88 274.1-101.58-274.1h-236.72z" fill="#0e0e0e" fill-rule="evenodd"/><ellipse cx="782" cy="143" rx="126" ry="109" fill="#2bd283"/></svg>
        </a>

        <button class="navbar__toggle-menu hamburger hamburger--slider js-hamburger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="navbar__menu js-menu">
                            <a href="https://app.tipply.pl" class="navbar__btn navbar__btn--last btn btn--green btn--small">Panel użytkownika</a>
                    </div>
    </div>
</header>
--->
    <div class="user-container user-container--large">
        <div class="tip-form">
    <div class="tip-form__banner" style="background-image:url(/upload/media/user/0009/43/thumb_842492_user_banner.png);"></div>
    <div class="tip-form__avatar" style="background-image:url(/upload/media/user/0009/43/thumb_842493_user_avatar.png);">
            </div>

    <div class="tip-form__user-info">
        <p class="tip-form__user-info-username">DAJSON</p>
        <p class="tip-form__user-info-description">
            
        </p>
    </div>
        
    <div class="tip-form__pagination js-pagination">
        <button class="tip-form__pagination-item"></button>
        <button class="tip-form__pagination-item"></button>
    </div>

    <form name="tip_form" method="post" novalidate="novalidate" class="js-tip-form" data-validate-url="https://tipply.pl/@DAJSON/validate-form" data-audio-upload-url="https://tipply.pl/@DAJSON/audio">
    <div class="tip-form__steps js-steps">
        <div>
            <div class="tip-form__step tip-form__step--slim js-step">
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_nickname">Wpisz swój nick</label>
                    <input type="text" id="tip_form_nickname" name="tip_form[nickname]" required="required" maxlength="32"  class="text-input" value="Dajsonek" />
                    
                </div>
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_email">Twój adres email</label>
                    <div class="p-relative">
                        <input type="email" id="tip_form_email" name="tip_form[email]" required="required" class="text-input" value="Piomajer68@gmail.com" />
                        <button type="button" class="tip-form__info js-tippy" data-tippy-content="Wymagamy Twojego maila, aby po sfinalizowanej transakcji wysłać tam potwierdzenie! E-mail wpisany w tej rubryce, jest również w pełni przekazywany do wglądu Streamerowi i dostępny do użycia np. w przypadku reklamacji.">
                            <svg class="tip-form__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.357 31.357"><path d="M15.255 0c5.424 0 10.764 2.498 10.764 8.473 0 5.51-6.314 7.629-7.67 9.62-1.018 1.481-.678 3.562-3.475 3.562-1.822 0-2.712-1.482-2.712-2.838 0-5.046 7.414-6.188 7.414-10.343 0-2.287-1.522-3.643-4.066-3.643-5.424 0-3.306 5.592-7.414 5.592-1.483 0-2.756-.89-2.756-2.584C5.339 3.683 10.084 0 15.255 0zm-.211 24.406a3.492 3.492 0 0 1 3.475 3.476 3.49 3.49 0 0 1-3.475 3.476 3.49 3.49 0 0 1-3.476-3.476 3.491 3.491 0 0 1 3.476-3.476z"/></svg>
                        </button>
                    </div>
                    
                </div>
                <div class="input-wrapper">
                    <label class="label required" for="tip_form_message">Twoja wiadomość</label>
                    <div class="p-relative">
                        <textarea id="tip_form_message" name="tip_form[message]" required="required" maxlength="225" placeholder="Wpisz wiadomość" class="textarea js-message-input"></textarea>
                                                    <button id="icon-picker-trigger" type="button"></button>
                                                <span class="tip-form__words-counter js-message-words-counter">225</span>
                    </div>
                    
                </div>
                <div class="input-wrapper">
                                        <input type="hidden" id="tip_form_goalId" name="tip_form[goalId]" value="7825a26b-7b23-4d35-b244-c3cd94643ea2" />
                </div>
                            </div>
        </div>
        <div>
            <div class="tip-form__step js-step">
                <div class="input-wrapper tip-form__amount">
                    <div class="p-relative" style="font-size:0;">
                        <input type="text" id="tip_form_amount" name="tip_form[amount]" required="required" placeholder="Kwota minimum 1,00 zł" class="text-input js-amount-input" /> zł
                        <p class="tip-form__total-amount js-tip-total-amount"></p>
                        <p class="tip-form__total-amount"><button class="tip-form__euro-badge euro-badge animation-pulse-green-infinite is-hidden"><b>€ EUR</b></button></p>
                        <script class="js-script-commisions">window.tipply_commissions = {"cashbill":{"percent":0.97,"fixed":20},"cashbill_blik":{"percent":0.97,"fixed":20},"cashbill_credit_card":{"percent":0.97,"fixed":20},"gt_psc":{"percent":1,"fixed":0},"justpay":{"percent":0.57,"fixed":0},"justpay_classic":{"percent":0.51,"fixed":0},"justpay_full":{"percent":0.245,"fixed":0},"paypal":{"percent":1,"fixed":0},"psc":{"percent":0.8,"fixed":30}}</script>

                        <button type="button" class="tip-form__info js-tippy" data-tippy-content="Taką kwotę minimalną ustawił streamer. Może ona ulec zmianie, w momencie nagrania wiadomości głosowej. Wpisana kwota może być niedopuszczalna przy metodzie SMS, która posiada z góry ustalone kwoty.">
                            <svg class="tip-form__info-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.357 31.357"><path d="M15.255 0c5.424 0 10.764 2.498 10.764 8.473 0 5.51-6.314 7.629-7.67 9.62-1.018 1.481-.678 3.562-3.475 3.562-1.822 0-2.712-1.482-2.712-2.838 0-5.046 7.414-6.188 7.414-10.343 0-2.287-1.522-3.643-4.066-3.643-5.424 0-3.306 5.592-7.414 5.592-1.483 0-2.756-.89-2.756-2.584C5.339 3.683 10.084 0 15.255 0zm-.211 24.406a3.492 3.492 0 0 1 3.475 3.476 3.49 3.49 0 0 1-3.475 3.476 3.49 3.49 0 0 1-3.476-3.476 3.491 3.491 0 0 1 3.476-3.476z"/></svg>
                        </button>
                    </div>
                    
                </div>
                <hr class="tip-form__separator" />
                <div class="input-wrapper">
                    <p class="payments__title">Wybierz metodę płatności</p>
                                <div class="payments">
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_0"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay_full"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_0">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS FULL
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_1"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_1">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS Plus
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_2"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="justpay_classic"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_2">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            SMS
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_3"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="paypal"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_3">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            PayPal
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_4"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_4">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            Przelew
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_5"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill_blik"                                                            style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_5">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            BLIK
                        </span>
                                                        </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block checkbox-button--disabled">
                <input
                    id="tip_form_method_6"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="cashbill_credit_card"                                         disabled="disabled"                    style="display: none;"
                />

                <label class="checkbox-button__button " for="tip_form_method_6">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__text">
                            Karty płatnicze
                        </span>
                                                                <span class="disabled-method-label">
                                                            By zapłacić kartą, użyj metody PayPal
                                                    </span>
                                    </label>
            </div>
            
                                                
                    <div class="checkbox-button checkbox-button--block ">
                <input
                    id="tip_form_method_7"
                    name="tip_form[method]"
                    class="checkbox-button__input js-payment-method"
                    type="radio"
                     value="psc"                                                            style="display: none;"
                />

                <label class="checkbox-button__button animation-pulse-green-infinite" for="tip_form_method_7">
                    <span class="checkbox-button__box">
                        <svg class="checkbox-button__svg" width="12px" height="10px" viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg>
                    </span>
                                            <span class="checkbox-button__logo">
                            <svg fill="currentColor" height="16" viewBox="0 0 97 16" width="97" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="a">
        <path d="m0 0h97v16h-97z" />
    </clipPath>
    <g clip-path="url(#a)" fill="currentColor">
        <path d="m17.7595 4.52974h-3.2359c-1.0535 0-1.8813.80365-1.8813 1.82648v9.64388h2.1071v-3.1416h2.7843c1.1288 0 2.0318-.8767 2.0318-1.9726v-4.52968c.0753-1.02283-.7525-1.82648-1.806-1.82648zm-.2258 5.69866c0 .2922-.2257.5114-.5267.5114h-1.5803c-.301 0-.5268-.2192-.5268-.5114v-3.06853c0-.29223.2258-.51141.5268-.51141h1.5803c.301 0 .5267.21918.5267.51141zm9.0303-5.69866h-5.1172v2.11872h4.3647c.2257 0 .3762.14612.3762.36529v.29224h-3.0853c-.9783 0-1.8061.80365-1.8061 1.75343v2.11868c0 .9498.8278 1.7535 1.8061 1.7535h3.4616c.9783 0 1.806-.8037 1.806-1.7535v-4.89494c-.0752-.94977-.8277-1.75342-1.806-1.75342zm-.3763 5.18721v.65755c0 .2192-.2257.4383-.4515.4383h-1.806c-.2258 0-.4516-.2191-.4516-.4383v-.65755c0-.21918.2258-.43836.4516-.43836h1.806c.2258-.07305.4515.14612.4515.43836zm25.5857-5.18721h-5.1171v2.11872h4.3646c.2258 0 .3763.14612.3763.36529v.29224h-3.0854c-.9782 0-1.806.80365-1.806 1.75343v2.11868c0 .9498.8278 1.7535 1.806 1.7535h3.4616c.9783 0 1.8061-.8037 1.8061-1.7535v-4.89494c0-.94977-.8278-1.75342-1.8061-1.75342zm-.301 5.18721v.65755c0 .2192-.2257.4383-.4515.4383h-1.806c-.2258 0-.4515-.2191-.4515-.4383v-.65755c0-.21918.2257-.43836.4515-.43836h1.806c.2258-.07305.4515.14612.4515.43836zm-6.3964-5.18721v2.11872h-3.9884c-.2257 0-.3762.14612-.3762.36529v.29224c0 .21918.1505.3653.3762.3653h2.1824c1.0535 0 1.8813.80365 1.8813 1.82648v1.38813c0 1.0959-.9031 1.9726-2.0319 1.9726h-4.4398v-2.1187h3.9131c.2257 0 .3762-.1461.3762-.3653v-.2923c0-.21913-.1505-.36525-.3762-.36525h-1.9566c-1.1288 0-2.0318-.87671-2.0318-1.9726v-1.38813c0-1.02283.8278-1.82648 1.8813-1.82648zm22.0489 3.72602v-1.9726c0-.94977-.8278-1.75342-1.8061-1.75342h-3.3111c-1.0535 0-1.8813.80365-1.8813 1.82648v4.67578c0 1.0229.8278 1.8265 1.8813 1.8265h5.0419v-2.1187h-4.3646c-.2258 0-.3763-.1461-.3763-.3653v-.3653zm-4.8162-.21917v-1.02284c0-.21917.1505-.36529.3763-.36529h1.9566c.2257 0 .3762.14612.3762.36529zm-25.3599 5.91781v-9.42466h-2.1071v5.69866c0 .2922-.2257.5844-.602.5844h-1.5803c-.301 0-.602-.2191-.602-.5844v-5.69866h-2.1071v6.28306c0 1.0229.7525 2.0457 2.1071 2.0457h2.7091v.4384c0 .5114-.3763.5844-.7526.5844h-4.0636v2.1188h4.7409c1.3545 0 2.2576-.9498 2.2576-2.0457zm21.9736-10.52055v-2.04567h-1.5803c-1.1288 0-2.1071.87672-2.1071 2.04567v9.49775h2.1071v-6.3562h1.505v-2.04566h-1.505v-.51142c0-.3653.301-.58447.602-.58447zm15.5772 1.9726v-.87671h-3.2359c-1.0535 0-1.9565.87671-1.9565 1.89954v4.60272c0 1.0229.903 1.8996 1.9565 1.8996h3.2359v-.8767h-3.1606c-.602 0-1.1288-.5115-1.1288-1.0959v-4.45666c0-.58448.5268-1.09589 1.1288-1.09589zm14.0721-.87671h-.8277c-1.0536 0-1.5803.65753-1.5803 1.53424v6.79452h.903v-6.57534c0-.51141.1505-.94977.8278-.94977h.6772zm-11.7393 0v.87671h4.8161c.5268 0 .9031.3653.9031.87671v1.02283h-3.8379c-1.0535 0-1.9566.87671-1.9566 1.89955v1.75346c0 1.0228.9031 1.8995 1.9566 1.8995h2.7843c1.0536 0 1.9566-.8767 1.9566-1.8995v-4.67584c0-.94977-.8278-1.75342-1.8061-1.75342zm4.6656 7.45206h-2.709c-.6021 0-1.1288-.5114-1.1288-1.0959v-1.68036c0-.58448.5267-1.09589 1.1288-1.09589h3.7626v2.84935c0 .5844-.4515 1.0228-1.0536 1.0228zm14.5989-10.59362v3.14156h-3.7626c-1.0535 0-1.9565.87671-1.9565 1.89954v4.60272c0 1.0229.903 1.8996 1.9565 1.8996h2.7091c1.0536 0 1.9566-.8767 1.9566-1.8996v-9.64382zm-1.0535 10.59362h-2.5585c-.6021 0-1.1288-.5114-1.1288-1.0959v-4.38356c0-.58448.5267-1.09589 1.1288-1.09589h3.6873v5.55255c-.0752.5844-.5268 1.0228-1.1288 1.0228z" />
        <path d="m7.22421 12.8586h-5.34291c-1.053527 0-1.8813-.8037-1.8813-1.8265v-4.67583c0-1.02283.827773-1.82648 1.8813-1.82648h5.34291c1.05352 0 1.8813.80365 1.8813 1.82648v4.67583c0 1.0228-.82778 1.8265-1.8813 1.8265z" />
        <path d="m1.4298 4.01826c.22576-1.38812 1.58029-2.48401 3.16059-2.48401 1.58029 0 2.93483 1.09589 3.16059 2.48401.45151.07306.90302.29224 1.27928.65754v-.43836c-.07525-2.3379-2.0318-4.23744-4.43987-4.23744s-4.439877 1.89954-4.439877 4.23744v.43836c.37626-.29224.752521-.58448 1.279287-.65754z" />
    </g>
</svg>
                        </span>
                                                        </label>
            </div>
            
                    </div>
    
                    <script class="js-script-min-amounts">
                        window.tipply_minimum_amounts = {"cashbill":100,"cashbill_blik":100,"cashbill_credit_card":100,"gt_psc":100,"justpay":100,"justpay_classic":100,"justpay_full":100,"paypal":100,"psc":150};
                        window.voice_message_min_amount = 1000;
                        window.external_provider = '';
                        window.external_profile_url = '';
                        window.external_username = '';
                    </script>
                    <div class="forcedEnablePsc" id="notConnected"></div>
                </div>

                                    <div class="voice-recorder js-voice-recorder">
                        <div class="js-voice-supported">
                            <div class="voice-recorder__progress js-progress" style="width:0%;"></div>
                            <div class="voice-recorder__row">
                                <div class="voice-recorder__controls">
                                    <button title="Rozpocznij nagrywanie" type="button" class="voice-recorder__control js-record" disabled>
                                        <span class="voice-recorder__icon voice-recorder__icon-record"></span>
                                    </button>
                                    <button title="Zakończ nagrywanie" type="button" class="voice-recorder__control js-stop" disabled>
                                        <span class="voice-recorder__icon voice-recorder__icon-stop"></span>
                                    </button>
                                    <button title="Odtwórz nagranie" type="button" class="voice-recorder__control js-toggle-play-pause" disabled>
                                        <svg class="voice-recorder__icon voice-recorder__icon-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232.153 232.153"><path d="M203.791 99.628L49.307 2.294C44.74-.425 39.069.028 34.786.028 17.654.028 17.73 13.255 17.73 16.606v198.94c0 2.833-.075 16.579 17.056 16.579 4.283 0 9.955.451 14.521-2.267l154.483-97.333c12.68-7.545 10.489-16.449 10.489-16.449s2.192-8.904-10.488-16.448z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                                        <span class="voice-recorder__icon voice-recorder__icon-pause"></span>
                                        <span class="voice-recorder__icon voice-recorder__icon-pause"></span>
                                    </button>
                                </div>
                                <p class="voice-recorder__text">Nagraj swoją wiadomość głosową</p>
                            </div>
                            <div class="voice-recorder__row">
                                <p class="voice-recorder__price-info">Możliwość nagrania wiadomości głosowej od 10,00 zł</p>
                            </div>
                            <audio class="voice-recorder__player js-voice-player" src=""></audio>
                        </div>

                        <p style="display:none;" class="voice-recorder__not-supported js-voice-not-supported">Nagrywanie wiadomości głosowej jest niedostępne ponieważ nie wykryto żadnego urządzania nagrywającego dźwięk.</p>
                    </div>
                
                <div class="checkbox-group" style="margin-top: 40px; font-size: 14px;">
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_selectAll" name="tip_form[selectAll]" class="checkbox__input checkbox-group__select-all" style="display: none" value="1" />
            <label for="tip_form_selectAll" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Zaznacz wszystkie zgody
                        </span>
    </label>

    </div>
    
    

                    </div>
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_privacy" name="tip_form[privacy]" style="display: none" class="checkbox__input" value="1" />
            <label for="tip_form_privacy" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Akceptuję <a href="/@DAJSON/regulamin" target="_blank">Regulamin udostępnienia komunikatu tekstowego podczas internetowej transmisji wideo</a>.
                        </span>
    </label>

    </div>
    
    

                    </div>
                    <div class="input-wrapper">
                                    <div class="checkbox">
        <input type="checkbox" id="tip_form_voidTerms" name="tip_form[voidTerms]" style="display: none" class="checkbox__input" value="1" />
            <label for="tip_form_voidTerms" class="checkbox__icon required">
    <span class="checkbox__box">
        <svg class="checkbox__svg" width="12px" height="10px" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </svg>
    </span>
    <span class="checkbox__text">
        Wyrażam zgodę na natychmiastowe rozpoczęcie świadczenia i rozumiem, że jeśli umowa
                    zostanie w pełni wykonana to nie przysługuje mi prawo do odstąpienia od umowy zawartej na
                    odległość.
                        </span>
    </label>

    </div>
    
    

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tip-form__footer">
        <div class="tip-form__navigation js-navigation is-active">
            <button class="btn btn--green tip-from__navigation-item js-next-button" type="button">Dalej</button>
            <button class="btn btn--blank tip-from__navigation-item js-prev-button" style="display: none;" type="button">Wstecz</button>
        </div>
        <button type="submit" id="tip_form_submit" name="tip_form[submit]" class="btn btn--green tip-form__submit is-hidden js-submit">Przechodzę do płatności</button>
    </div>

    <div class="sms-payment js-sms-payment is-hidden">
        <div class="sms-payment__content">
            <header class="sms-payment__header">
                <p class="sms-payment__header-text">Płatność <strong class="js-sms-method">SMS</strong></p>
            </header>
            <div class="sms-payment__body">
                <div class="sms-payment__body-row">
                    <p class="sms-payment__text sms-payment__text--big js-sms-step-text" data-step="1">
                        Wybierz kwotę<br />
                        <strong>która Cię interesuje!</strong>
                    </p>

                    <p class="sms-payment__text sms-payment__text--small js-sms-step-text" data-step="1">
                        Nie możesz znaleźć odpowiedniej kwoty?<br />
                        Skorzystaj z metody płatności <span>SMS PLUS</span> lub <span>SMS FULL</span>
                    </p>

                    <div>
                        <p class="sms-payment__text sms-payment__text--big">
                            Koszt <strong><span class="js-sms-price-selected">0</span> PLN</strong>
                            <span class="smaller">(<span class="js-sms-price-selected-with-vat">0</span> PLN z VAT)</span>
                        </p>
                        <a class="sms-payment__terms" href="#">Regulamin usługi</a>
                    </div>
                </div>
                <div class="sms-payment__body-row">
                    <div class="sms-payment__table">
                        <div class="js-sms-payments-steps">
                            <div>
                                <div class="sms-payment__sms-prices">
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="3">3 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="4">4 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="5">5 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="6">6 zł</button>

                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="7">7 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="8">8 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="9">9 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="10">10 zł</button>

                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="11">11 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="14">14 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="19">19 zł</button>
                                    <button type="button" class="sms-payment__sms-price js-sms-price" data-price="25">25 zł</button>
                                </div>

                                <button type="submit" class="btn btn--uppercase btn--shadow sms-payment__action-btn js-sms-submit">Wyślij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sms-payment__footer">
                <button type="button" class="btn btn--blue sms-payment__reset js-reset-payment-method">Zmień metodę płatności</button>
            </footer>
        </div>
    </div>
    <input type="hidden" id="tip_form_audioId" name="tip_form[audioId]" /><input type="hidden" id="tip_form__token" name="tip_form[_token]" value="pZ12okPC8a5p_EMQYhEQoeU7LTzdXbYcN-jib1aI-VQ" /></form>

    <div class="external-tip-info-page is-hidden">
        <div class="external-tip-info-page__content">
            <div class="external-tip-info-page__header">Kontynuacja<br/>płatności</div>
            <div class="external-tip-info-page__body">
                <p class="external-tip-info-page__text">Jako iż płatność jest inicjowana przez zewnętrzny serwis, po przejściu do płatności będziesz musiał wpisać ponownie swój nickname oraz wiadomość, którą chcesz wysłać streamerowi.</p>
                <p class="external-tip-info-page__text">Skopiuj wiadomość aby móc łatwiej uzupełnić pola w następnym kroku, a następnie rozpocznij płatność.</p>
                <div class="external-tip-info-page__fieldbox">
                    <div class="external-tip-info-page__label">NICKNAME</div>
                    <div class="external-tip-info-page__nickname-box">
                        <div class="external-tip-info-page__nickname-text" name="nick"></div>
                        <div class="external-tip-info-page__nickname-button"><button id="copy-nickname" type="button" class="btn--copy">SKOPIUJ</button></div>
                    </div>
                </div>
                <div class="external-tip-info-page__fieldbox">
                    <div class="external-tip-info-page__label">WIADOMOŚĆ</div>
                    <div class="external-tip-info-page__message-box">
                        <div class="external-tip-info-page__message-text" name="message"></div>
                        <div class="right-wrapper"><button id="copy-message" type="button" class="btn--copy">SKOPIUJ</button></div>
                    </div>
                </div>
                <div class="center-wrapper">
                    <button id="start-stream-elements" type="button" class="btn btn--payment">ROZPOCZNIJ PŁATNOŚĆ</button>
                </div>
                <div class="center-wrapper">
                    <p id="external-tip-info-cancel" class="external-tip-info-page__text">ANULUJ</p>
                </div>

            </div>
        </div>
    </div>

          
    </div>

    <div class="ad ">
    <div class="ad__header">Reklama</div>
                </div>
    </div>

               


                        <script src="https://dxokx05hbd6dq.cloudfront.net/build/runtime.83d9dd1c.js"></script><script src="https://dxokx05hbd6dq.cloudfront.net/build/app.753d48bc.js"></script>
            <script src="https://dxokx05hbd6dq.cloudfront.net/build/ads.cfb282cc.js"></script>
        
    <script src="https://dxokx05hbd6dq.cloudfront.net/build/user.b7718d09.js"></script>
    <script src="https://dxokx05hbd6dq.cloudfront.net/build/tip.fd73163d.js"></script>
    </body>
</html>
