<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLS DONATE</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="shortcut icon" href="../logo.png" type="image/x-icon">
</head>
<body>

    <nav>
        <header>DonationAPP</header>
        <div class="login">
            <a href="/">WRÓĆ</a>
        </div>
    </nav>

    <div id="app">
        <div class="login">
            <div class="top">
            </div>
            <div class="top_info">
                <h2>WITAJ PONOWNIE</h2>
                <p>Zaloguj się do strony, żeby zyskać więcej możliwości</p>
            </div>
            <form id="log_form">
                <div>
                    <span>Wpisz Nazwę</span>
                    <input type="text" id="log_nickname" placeholder="Wpisz nazwę konta..." autocomplete="off">
                </div>
                <div>
                    <span>Password</span>
                    <input type="password" id="log_password" placeholder="Wpisz hasło do konta..." autocomplete="off">
                    <i class="fas fa-eye" id="show_pass"></i>
                </div>
                <button type="submit"><i class="fas fa-check"></i> Zaloguj</button>
            </form>
        </div>
    </div>

    <script src="../login.js"></script>
    
</body>
</html>